<div class="container">
	<div class="col-lg-3 col-md-3">
		<%= render 'sidebar' %>
	</div>
	<div class="col-lg-9 col-md-9" >
		<% if !flash[:info].blank? %>
			<div class="alert alert-info" role="alert"><%= flash[:info] %></div>
		<% end %>
	</div>
</div>